/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .loginInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .loginInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .loginInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 550px;
  overflow: scroll;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
}

/* Input */

.inputMessage {
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}
.participantArea {
  height: 120px;
  width: 100%;
  border: 5px solid #000 ;
  font-size: 20px;
}
.participantArea h4 {
  margin: 5px 5px 5px 5px;
  text-align: center;
}
.user {
  border: 1px solid #000;
  margin-right: 10px;
  padding: 3px;
  font-weight: bold;
}
.join-button{
  font-size: 24px;
}
.join-button-wrapper{
  margin: 15px 0 0 0;
}
.menu-button{
  width: 150px;
  margin: 5px 10px 5px 10px;
}
.menu {
  background-color: #0f8bc0;
}
#change-avatar-form {
  width: 700px;
  height: 100px;
  background-color: #0f8bc0;
  display: none;
  position: absolute;
  top: 32px;
  left: 5px;
  right: 5px;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
}
#avatar-input {
  width: 100%;
  background-color: #faffbd;
}
#close-change-avatar-form{
  position: absolute;
  right: 0px;
  top: 2px;
}
#change-avatar-button{
  text-align: center;
}